services:
    php:
        build: .
        volumes:
            - .:/var/www/html

    nginx:
        image: nginx:alpine
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

    db:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: uptime-monitor
        ports:
            - "3306:3306"

    redis:
        image: redis
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        restart: unless-stopped

    messenger-scheduler:
        build: .
        working_dir: /var/www/html/
        volumes:
            - .:/var/www/html
        command: php bin/console messenger:consume scheduler_default
        restart: always
        depends_on:
            - redis
            - db

    messenger-worker:
        build: .
        working_dir: /var/www/html/
        volumes:
            - .:/var/www/html
        command: php bin/console messenger:consume async --memory-limit=128M
        restart: always
        depends_on:
            - redis
            - db

volumes:
    redis_data:
